.tAmount
    width 75px
    height 25px

    .tViewBox,
    .tController
        width 25px
        height 25px

    .tController
        cursor pointer

    .tP1
        left 0
    .tP2
        left 25px
    .tP3
        left 50px


    .tMakeLikeDisabled
        opacity 0.6